[run]
source = ardupilot_methodic_configurator

[report]
include = ardupilot_methodic_configurator/*
omit = ardupilot_methodic_configurator/backend_mavftp.py, ardupilot_methodic_configurator/mavftp_example.py
