[run]
source = ardupilot_methodic_configurator
branch = True

[report]
include = ardupilot_methodic_configurator/*
omit = ardupilot_methodic_configurator/backend_mavftp.py, ardupilot_methodic_configurator/mavftp_example.py, ardupilot_methodic_configurator/tempcal_imu.py, ardupilot_methodic_configurator/data_model_fc_ids.py, ardupilot_methodic_configurator/configuration_steps_strings.py, ardupilot_methodic_configurator/vehicle_components.py
