[flake8]
exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
    __target__,
    dist,
ignore =
    # E226: missing whitespace around arithmetic operator
    E226,
    # E261 at least two spaces before inline comment
    E261


max-line-length = 127
