__pycache__/
__target__/
.ruff_cache/
.mypy_cache/
ardupilot_methodic_configurator.egg-info/
ardupilot_methodic_configurator/test.xml
ardupilot_methodic_configurator_*_macos_setup.dmg
ardupilot_methodic_configurator_*_windows_setup.exe
build/
dist/
git_hash.txt
macos/*.icns
macos/*.iconset
macos/Output/
macos/dmg-staging/

/.coverage
venv/
.venv/
test.txt
test.xml

sitl/arducopter
sitl/firmware-version.txt
sitl/git-version.txt
