# AI translation prompt templates should be treated as YAML
#
# SPDX-FileCopyrightText: 2024-2025 Amilcar do Carmo Lucas <amilcar.lucas@iav.de>
#
# SPDX-License-Identifier: GPL-3.0-or-later
*.template.yml linguist-language=YAML
*.prompt linguist-language=Text
