__pycache__/
__target__/
.ruff_cache/
.mypy_cache/
ardupilot_methodic_configurator.egg-info/
ardupilot_methodic_configurator/test.xml
ardupilot_methodic_configurator_setup_*.exe
build/
dist/
git_hash.txt
