repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.2
    hooks:
      - id: ruff
        args: [ --fix ]
        language: system
        types: [python]
        stages: [pre-commit]
      # Run the formatter.
      - id: ruff-format
        args: [ --line-length=127 ]
        types_or: [ python ]
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
            "--rcfile=.pylintrc", # Link to your config file
          ]
        stages: [pre-push]
