name: Generate apm.pdef.xml metadata

# Whenever a tag is pushed, create the corresponding parameter metadata documentation
# apm.pdef.xml file on the https://autotest.ardupilot.org/Parameters/versioned/ URL

on:
  workflow_dispatch:
  # schedule:
  #  - cron: '30 3 * * 4'  # Every Thursday at 3:30 AM

permissions:
  contents: read

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - name: Checkout MethodicConfigurator
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Checkout ArduPilot
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        repository: ArduPilot/ardupilot
        path: ardupilot
        fetch-depth: 0
        fetch-tags: true

    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: '3.x'

    - name: Install rsync
      run: |
        sudo apt-get update && sudo apt-get install -y rsync
        python -m pip install lxml
        mv ardupilot ..

    - name: Run generate_pdef.xml_metadata.py
      env:
        RSYNC_USERNAME: ${{ vars.RSYNC_USERNAME }}
        RSYNC_PASSWORD: ${{ secrets.RSYNC_PASSWORD }}
      run: python scripts/generate_pdef.xml_metadata.py
