name: Generate apm.pdef.xml metadata

# Whenever a tag is pushed, create the corresponding parameter metadata documentation
# apm.pdef.xml file on the https://autotest.ardupilot.org/Parameters/versioned/ URL

on:
  workflow_dispatch:
  # schedule:
  #  - cron: '30 3 * * 4'  # Every Thursday at 3:30 AM

permissions:
  contents: read

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - name: Checkout MethodicConfigurator
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Checkout ArduPilot
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        repository: ArduPilot/ardupilot
        path: ardupilot
        fetch-depth: 0
        fetch-tags: true

    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: '3.x'

    - name: Install rsync
      run: |
        sudo apt-get update && sudo apt-get install -y rsync
        python -m pip install lxml
        mv ardupilot ..

    - name: Run generate_pdef.xml_metadata.py
      env:
        RSYNC_USERNAME: ${{ vars.RSYNC_USERNAME }}
        RSYNC_PASSWORD: ${{ secrets.RSYNC_PASSWORD }}
      run: python scripts/generate_pdef.xml_metadata.py
