name: gitavscan

on:
  push:
    paths:
      - '**/*.py'        # Watch for changes in any Python files
  release:
    types: [published]

permissions:
  contents: read  # Default limited permission

jobs:
  gitavscan:
    runs-on: ubuntu-latest
    name: AV scan

    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        egress-policy: audit

    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Setup ClamAV configuration
      run: |
        sudo mkdir -p /etc/clamav
        echo 'TCPSocket 3310
        TCPAddr 127.0.0.1
        LocalSocket /var/run/clamav/clamd.sock
        User clamav
        LogFile /var/log/clamav/clamav.log
        LogTime yes
        LogVerbose yes
        PidFile /var/run/clamav/clamd.pid' | sudo tee /etc/clamav/clamd.conf
        sudo chmod 644 /etc/clamav/clamd.conf

    - name: Git AV Scan
      uses: djdefi/gitavscan@1a878781ff7993bb12335c526983b9cea8f0d245 # main
