name: gitavscan

on:
  push:
    paths:
      - '**/*.py'        # Watch for changes in any Python files
  release:
    types: [published]

permissions:
  contents: read  # Default limited permission

jobs:
  gitavscan:
    runs-on: ubuntu-latest
    name: AV scan

    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        egress-policy: audit

    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Setup ClamAV configuration
      run: |
        sudo mkdir -p /etc/clamav
        echo 'TCPSocket 3310
        TCPAddr 127.0.0.1
        LocalSocket /var/run/clamav/clamd.sock
        User clamav
        LogFile /var/log/clamav/clamav.log
        LogTime yes
        LogVerbose yes
        PidFile /var/run/clamav/clamd.pid' | sudo tee /etc/clamav/clamd.conf
        sudo chmod 644 /etc/clamav/clamd.conf

    - name: Git AV Scan
      uses: djdefi/gitavscan@7f2ac6a95ce050706ef8f76316e513de0a839d6b # main
