name: Renovate SW dependencies

on:
  schedule:
    - cron: "0 0 * * *"  # Runs daily at midnight
  workflow_dispatch:     # Allows manual trigger
  push:
    paths:
      - "renovate.json"  # Run when renovate config changes

permissions:
  contents: read  # Default limited permission

jobs:
  renovate:
    runs-on: ubuntu-latest
    permissions:
      contents: write      # Job-specific permission for creating branches
      pull-requests: write # Job-specific permission for creating PRs
      issues: write        # for creating dashboard issues
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@03026bd55840025343414baec5d9337c5f9c7ea7 # v44.0.4
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
          configurationFile: renovate.json
        env:
          LOG_LEVEL: debug
