name: Renovate SW dependencies

on:
  schedule:
    - cron: "0 0 * * *"  # Runs daily at midnight
  workflow_dispatch:     # Allows manual trigger
  push:
    paths:
      - "renovate.json"  # Run when renovate config changes

permissions:
  contents: read  # Default limited permission

jobs:
  renovate:
    runs-on: ubuntu-latest
    permissions:
      contents: write      # Job-specific permission for creating branches
      pull-requests: write # Job-specific permission for creating PRs
      issues: write        # for creating dashboard issues
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@8d75b92f43899d483728e9a8a7fd44238020f6e6 # v46.1.2
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
          configurationFile: renovate.json
        env:
          LOG_LEVEL: debug
