name: REUSE Compliance Check

on:
  workflow_dispatch:
  push:

permissions:
  contents: read

jobs:
  reuse:

    name: REUSE Compliance
    runs-on: ubuntu-latest

    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      with:
        python-version: '3.14'
        activate-environment: true

    - name: Install REUSE tool
      run: |
        uv pip install reuse==5.1.1

    - name: Check REUSE compliance
      run: reuse lint

    - name: Upload REUSE output
      if: failure()
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: reuse-output
        path: .reuse/
