name: Compile .mo files

on:
  workflow_dispatch:
  push:
    paths:
    - ardupilot_methodic_configurator/locale/**/ardupilot_methodic_configurator.po

# prevent race conditions
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  compile-mo-files:
    permissions:
      contents: write       # for creating branches and commits
      pull-requests: write  # for creating PRs
    runs-on: ubuntu-latest
    env:
      MO_FILES_CHANGED: false

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout MethodicConfigurator
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.x'
          cache: 'pip'
          cache-dependency-path: 'pyproject.toml'

      - name: Cache apt packages
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            /var/cache/apt/archives/*.deb
            /var/lib/apt/lists/*
          key: ${{ runner.os }}-apt-gettext-ubuntu2204
          restore-keys: |
            ${{ runner.os }}-apt-gettext-
            ${{ runner.os }}-apt-

      - name: Install apt packages
        run: |
          sudo apt-get update
          sudo apt-get install -y gettext=0.21-14ubuntu2

      - name: Compile translation .mo files from the .po files
        run: python create_mo_files.py

      - name: Stage changes
        run: |
          git add ardupilot_methodic_configurator/locale/**/ardupilot_methodic_configurator.mo
          if [ -n "$(git status --porcelain)" ]; then
            echo "MO_FILES_CHANGED=true" >> $GITHUB_ENV
          else
            echo "No changes to commit"
          fi

      - name: Create Pull Request
        if: env.MO_FILES_CHANGED == 'true'
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          labels: i18n, automated-pr
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: compile-mo-translation-files
          title: "Compile .mo translation files"
          commit-message: "chore(translations): Compile translation .mo files from the .po files"
          body: |
            This PR Compiles .mo files based on the latest changes to .po translation files.
          delete-branch: true
