name: Update 24_inflight_magnetometer_fit_setup.pdef.xml

on:
  workflow_dispatch:
  push:
    paths:
    - '24_inflight_magnetometer_fit_setup.pdef.xml'
    - 'ardupilot_methodic_configurator/vehicle_templates/**'

permissions:
  contents: read

jobs:
  update-magfit-pdef-xml:
    permissions:
      contents: write  # for creating branches and commits
      pull-requests: write  # for creating PRs
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout MethodicConfigurator
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.x'

      - name: Update 24_inflight_magnetometer_fit_setup.pdef.xml file in all vehicle templates
        run: python copy_magfit_pdef_to_template_dirs.py

      - name: Stage changes and check if PR needed
        id: check_changes
        run: |
          git add ardupilot_methodic_configurator/vehicle_templates/**/24_inflight_magnetometer_fit_setup.pdef.xml
          if [ -n "$(git status --porcelain)" ]; then
            CHANGED_LINES=$(git diff --staged | grep -E "^[\+\-]" | wc -l)
            echo "CHANGED_LINES=$CHANGED_LINES" >> $GITHUB_OUTPUT
            if [ $CHANGED_LINES -gt 3 ]; then
              echo "HAS_CHANGES=true" >> $GITHUB_OUTPUT
            else
              echo "Not enough changes to create PR (only $CHANGED_LINES lines changed)"
              echo "HAS_CHANGES=false" >> $GITHUB_OUTPUT
            fi
          else
            echo "No changes detected"
            echo "HAS_CHANGES=false" >> $GITHUB_OUTPUT
          fi

      - name: Create Pull Request
        if: steps.check_changes.outputs.HAS_CHANGES == 'true'
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          labels: templates, automated-pr
          branch: update/magfit-pdef-xml
          title: "Update magfit pdef XML files"
          commit-message: "chore(parameter_metadata): Updated 24_inflight_magnetometer_fit_setup.pdef.xml files in the vehicle templates"
          body: |
            This PR updates the 24_inflight_magnetometer_fit_setup.pdef.xml files in all vehicle templates.
          delete-branch: true
